@import './utils/variables';

@import './base/normalize';

@import "./components/buttons";

/* ==========Общие Стили========== */

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: $pageColor;
  color: $mainTextColor;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0;

  font-family: inherit;
  text-decoration: none;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}
/* ---Логотип ВебСтудии--- */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: $accentColor;
}

.logo .dark {
  color: $accentSecondaryColor;
}

.logo .light {
  color: $pageColor;
}

/* ---Навигация по сайту--- */
.header-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.nav .logo {
  margin-right: 90px;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $mainTextColor;
  transition: color $smoothTransition;
}

.site-nav .link.current {
  color: $accentColor;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accentColor;
}

.site-nav .link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2.5px;
  margin: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: $accentColor;
  border-radius: 2px;
  opacity: 0;
}

.site-nav .link.current::after {
  opacity: 1;
}

/* ---Контакты--- */
.contacts-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-header .item + .item {
  margin-left: 50px;
}

.contacts-header .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $secondaryTextColor;
  transition: color $smoothTransition;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: $accentColor;
}
.nav-icon {
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;

  fill: currentColor;
}

.mail-icon svg {
  width: 16px;
  height: 12px;
}

.tel-icon svg {
  width: 10px;
  height: 16px;
}

.mail-icon,
.tel-icon {
  padding-right: 10px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.map {
  display: flex;
  margin-bottom: 9px;
}

.map .link {
  display: flex;

  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  color: $pageColor;
}

.contacts-footer .link {
  display: flex;

  line-height: 1.71;
  text-decoration: none;

  color: $contactsTextColor;
  transition: color $smoothTransition;
}

.contacts-footer li:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: $accentColor;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.header {
  background-color: $pageColor;
  border-bottom: 1px solid #ececec;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footerColor;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-link {
  width: 231px;
}

.footer-social {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.text-footer {
  margin-bottom: 20px;

  font-size: 14px;
  text-transform: uppercase;

  color: $pageColor;
}

.footer-icons-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 206px;
}

.footer-social-icons {
  width: 44px;
  height: 44px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;

  background-color: $iconFooterColor;
  fill: $pageColor;
  border-radius: 50%;
  transition: background-color $smoothTransition;
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: $accentColor;
}

.footer-icons svg {
  width: 20px;
  height: 20px;
}

.footer-form {
  display: block;
  margin-left: 93px;
  width: 570px;
}
.form-in-footer {
  display: flex;
  justify-content: space-between;
}

.input-footer {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  color: $contactsTextColor;

  border: 1px solid $borderInputColor;
  filter: drop-shadow($shadowColor);
  background-color: transparent;
  border-radius: 4px;
}

.input-footer::placeholder {
  color: $contactsTextColor;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wrap-second {
  padding-bottom: 94px;
}

/* ==========/Общие========== */
/* ======== Стили index.html ======== */

/* ---Главный заголовок--- */
.caption {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 200px 0px;

  background-color: $captionColor;
  background-image: linear-gradient(
      to top,
      $gradientCaptionColor,
      $gradientCaptionColor
    ),
    url('../img/caption.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.caption-hero {
  text-align: center;
  max-width: 696px;
}

.caption-text {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: $pageColor;
}

/* Главная кнопка */
.caption .button {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowColor;
  cursor: pointer;
}

/* ---О нас--- */

.about-list {
  display: flex;
  flex-wrap: nowrap;
}
.about-item {
  width: 270px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-icons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: $pageSecondaryColor;
  border-radius: 4px;
}
.about-img {
  width: 70px;
  height: 70px;
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  line-height: 1.71;

  color: $secondaryTextColor;
}
/* ---Чем мы занимаемся--- */
.job ul {
  display: flex;
  justify-content: space-between;
}

.item-job {
  position: relative;

  display: flex;
  width: 370px;
}

.job-info {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  text-align: center;
  text-transform: uppercase;

  color: $pageColor;
  background-color: $decorJobColor;
}

/* ---Наша команда--- */
.team {
  background-color: $pageSecondaryColor;
}

.team ul {
  display: flex;
  justify-content: space-between;
}

.team-window {
  width: 270px;

  background-color: $pageColor;
  box-shadow: $shadowModal;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-photo {
  display: flex;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: $secondaryTextColor;
}

.icons-list {
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  background-color: $pageColor;
  fill: $iconColor;
  border-radius: 50%;
  transition: fill $smoothTransition, background-color $smoothTransition;
}

.social-icons:hover,
.social-icons:focus {
  background-color: $accentColor;
  fill: $pageColor;
}

.social-icons svg {
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */
.clients-logo {
  display: flex;
  justify-content: space-between;
}

.clients-company {
  width: 170px;
  height: 90px;
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  background-color: $pageColor;
  fill: $iconColor;
  border: 1px solid $iconColor;
  border-radius: 4px;

  transition: fill $smoothTransition, border $smoothTransition;
}

.clients-icon:hover,
.clients-icon:focus {
  border-color: $accentColor;
  fill: $accentColor;
}

/* ========/index.html======== */
/* ======= Стили portfolio.html ====== */

/* Портфолио кнопка */

.product-menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.menu-button:not(:first-child) {
  margin-left: 8px;
}

.product .button {
  display: block;
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  color: $mainTextColor;
  background-color: $pageSecondaryColor;
  border-color: $pageSecondaryColor;
  cursor: pointer;
  transition: color $smoothTransition, background-color $smoothTransition,
    border-color $smoothTransition, box-shadow $smoothTransition;
}

.product .button:hover,
.product .button:focus {
  color: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowButtonMenu;
}
/* Портфолио продукты */

.product-items {
  display: flex;
  flex-wrap: wrap;
}

.product-window {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;

  background-color: $pageColor;
  outline-color: $borderColor;
  outline-width: 1px;
  outline-style: solid;
}

.product-window:nth-child(3n) {
  margin-right: 0px;
}

.product-window:nth-child(-n + 3) {
  margin-top: 0;
}

.product-window .link {
  transition: box-shadow $smoothTransition;
}

.product-window .link:hover,
.product-window .link:focus {
  box-shadow: $shadowCard;
}

.product-box {
  position: relative;

  width: 370px;
  height: 294px;
  overflow: hidden;
}

.product-info {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;

  color: $pageColor;
  background-color: $decorCardColor;
  transition: transform $smoothTransition;
  transform: translateY(0);
}

.link:hover .product-info,
.link:focus .product-info {
  transform: translateY(-100%);
}

.product-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-item {
  padding: 20px 24px;
  max-width: 370px;
}

.product .link {
  text-decoration: none;

  color: $mainTextColor;
}

.product-text {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-work {
  font-size: 16px;
  line-height: 1.87;

  color: $secondaryTextColor;
}
/* =======/portfolio.html====== */
/* ==========Модальное окно======= */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: $backdropColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: $pageColor;
  box-shadow: $shadowModal;
  border-radius: 4px;
}

.icon-off {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid $borderIconOffColor;
  background-color: $pageColor;
  fill: $accentSecondaryColor;
  transition: fill $smoothTransition;
}
.icon-off svg {
  width: 11px;
  height: 11px;
}

.icon-off:hover,
.icon-off:focus {
  fill: $accentColor;
}

.modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  display: block;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondaryTextColor;
}

.modal-label:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
  display: flex;
}

.modal-input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding: 11px 12px 11px 42px;

  border: 1px solid $borderModalInput;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color $smoothTransition;
}

.icon-input svg {
  position: absolute;
  left: 12px;
  bottom: 11px;

  width: 18px;
  height: 18px;
  fill: $accentSecondaryColor;
  transition: fill $smoothTransition;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;

  resize: none;
  border: 1px solid $borderModalInput;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color $smoothTransition;
}

.modal-textarea::placeholder {
  color: $placeholderColor;
}

.modal-label:focus-within svg {
  fill: $accentColor;
}

.modal-input:focus-within,
.modal-textarea:focus-within {
  border: 1px solid $accentColor;
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid $accentColor;
}
.modal-input:hover ~ .icon-input svg,
.modal-input:focus ~ .icon-input svg {
  fill: $accentColor;
}

.modal-terms {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  line-height: 1.71;
  color: $secondaryTextColor;
}

.modal-terms a {
  padding-left: 4px;

  color: $accentColor;
}

.standart-checkbox {
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-terms::before {
  content: '';
  display: inline-block;

  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 7px;

  border: 2px solid;
  border-radius: 2px;
  border-color: $mainTextColor;
  background-color: $pageColor;
  transition: background-color $smoothTransition, border-color $smoothTransition;
}

.standart-checkbox:checked + .modal-terms::before {
  background-color: $accentColor;
  border-color: $accentColor;
  background-image: url('../img/icon-check.svg');
  color: $pageColor;
  background-origin: border-box;
}

.standart-checkbox:focus + .modal-terms::before {
  outline: 1px solid $accentSecondaryColor;
}

.btn-in-modal {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowColor;
  cursor: pointer;
}
/* ==========/Модальное окно======= */
